$primary-purple: #4f008c;
$secondary-purple: #a54ee1;
$secondary-purple2: #d4c4e0;
$secondary-purple3: #4e008b ;
$secondary-purple4: #8333bc26 ;
$secondary-purple5: #4f0c8c;
$last-purple: #50028D0B;
$black: #000;
$black2: #4E008B1D;
$black3: #1D252D;
$black4: #7070701A;
$black5: #F3F3F358;
$black6: #322c2c;
$primary-chips:#4E008B08;
$white: #ffffff;
$off-white: #f3f3f3;
$off-white2: #F4E8FC;
$off-white3:#8E9AA0;
$off-white4:#fafafa;
$off-white5:#879EA4;
$off-white6:#F8F8F8;
$off-white7:#f5f5f5;
$off-white8:#80808033;
$off-white9:#f9f9f9;
$off-white10:#ccc;
$off-white11:#eeee;
$off-white12:#FDFDFD;
$success:#00c48c;
$success2:#BAFCE9;
$success3:#02805C;
$success4:#80D6BD5A;
$coral: #ff375e;
$coral2: #ff375e40 ;
$coral3: #FF375E26;
$orange: #ff6a39;
$orange2: #FFCEBE;
$yellow:#EFC400;
$yellow2:#FFD100;
$yellow3:#FFDD4126;
$yellow4:#FCF9ED;
$info:#1FCDD7;
$info2:#1FCDD71A;
$oasis:#1DCED8;
$oasis-light:#CBFBFF;
$secondary:#707070;
$secondary2:#C6C6C6;
$secondary3:#f3f3f36e;
$light-gray: #f3f3f1;
$light-gray2: #e6e6e6;
$light-gray3: #e8e8e8;
$dark-gray: #8e9aa0;
$dark-gray2: #a7a3a3;
$dark-gray3: #969696;
$dark-gray4: #dedede;
$sea-light: #1bced8;
$font-medium: 500;
$font-regular: 400;
$silver: #dde0e1;
$primary: #7367f0;
$primary-light: #e9e7fd;
$secondary: #a8aaae;
$secondary-light: #f1f1f2;
$success: #28c76f;
$success-light: #ddf6e8;
$danger: #ea5455;
$danger-light: #fce4e4;
$warning: #ff9f43;
$warning-light: #fff0e1;
$info: #00cfe8;
$info-light: #d6f7fb;
$dark: #4b4b4b;
$dark-light: #e2e2e2;
$smooth-radius: 0.375rem;
$smooth-radius-rounded-pill: 50rem !important;
$font-size-base:0.75rem; //12px
$font-size-xs:0.875rem; //14px
$font-size-md:1rem; // 16px
$font-size-lg:1.125rem; // 18px
$font-size-xlg:1.25rem; // 20px
$font-size-xxxl:1.375rem; // 22px

