
:root {
    --primary-black:#272424;
    --primary-blue:#0038FF;
    --secondary:#F7F8FA;
    --icon-color:##72788E;
    --negative:#FC5555;
    --baby-blue:#E3EFFF; 
}

$blue-primary-one: #221AFB;
$blue-primary-two: #0038FF;
$blue-white-one: #8FC1FF;
$-baby-blue:#E3EFFF;
$blue-white-two: #7EC4F6;
$blue-white-two: #EFF6FF;
$blue-primary-three: #E3EFFF;
$gray-dark-one: #BCC6DB;
$gray-dark-two: #72788E;
$gray-dark-three: #E6E9EF;
$gray-dark-four: #EEF0F2;
$black-one: #272424;
$white: #FFFFFF;
$Linear-Gradient-one: #D1FAE5;
$Linear-Gradient-dark: #10B981;
$Linear-Gradient-three: #C2FFDE;
$green-first: #20C992;
$green-end: #EAF9F1;
$negative: #FC5555;
$Linear-Gradient-white: #FBF1E0;
$Linear-Gradient-yellow: #FFEEC2;
$Linear-Gradient-dark: #F67C0D;
$black-and-white: #2C2F3940;
$secondary:#F7F8FA;
$secondary-1: #EEF0F2;
