@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --font-weight-light: 100;
    --font-weight-normal: 400;
    --font-weight-semi-bold: 600;
    --font-weight-bold: 700;
    --font-weight-bolder: 900;
}
// Font Size
$font-size-12px: 12px;
$font-size-14px: 14px;
$font-size-15px: 15px;
$font-size-19px: 19px;
$font-size-21px: 21px;
$font-size-33px: 33px;






// Font Weight
$font-weight-400: 400;
$font-weight-600: 600;
$font-weight-700: 700;

