lib-muk-pagination {
  .pagination {
    background: transparent !important;
   //  border-top: 1px solid #F3F3F3;
    margin-top: 0 !important;
    font-size: $font-size-sm;
    .pagination-list {
      display: flex !important;
      align-items: center !important;
      justify-content: flex-start !important;
      padding-top: 1rem !important;
      .pagination-list-item {
         color: #8E9AA0 !important;
         opacity: 0.7 !important;
         margin: 0 !important;

      }
      .pagination-action {
         border-radius: 8px !important;
         border: 1px solid var(--Secondary-200, #DCE4E8) !important;
         background: var(--Primary-0, #FFF) !important;
         margin-inline-end: 8px !important;
         &:first-of-type {
          &::after {
            display: inline-block;
              content: url('../../assets/icons/arrow-pagination-back.svg');
              width: $font-size-2xl; 
              height: $font-size-2xl;
              background-size: contain;
              background-repeat: no-repeat;
              line-height: 10px;
              display: flex;
              align-items: center;
              justify-content: center;
            }
         }
         &:last-of-type {
          &::after {
            display: inline-block;
              content: url('../../assets/icons/arrow-pagination-next.svg');
              width: $font-size-2xl; 
              height: $font-size-2xl;
              background-size: contain;
              background-repeat: no-repeat;
              line-height: 10px;
              display: flex;
              align-items: center;
              justify-content: center;
            }
         }
         mat-icon {
          display: none !important;
      }

      }
      .active {
         background: transparent !important;
         font-weight: $font-normal !important;
         color: #1A1C1E !important;
      }
    }
    .material-icons {
      color: #000 !important;
      display: flex !important;
      align-items: center !important;
      justify-content: center !important;
    }
  }
}
