:root {
    // Colors
    --primary-color: #0038FF;
    --secondary-color: #0038FF;
    --paragraph-color: #666666;

    // Input
    --input-bg: #F7F8FA;

    // Error
    --error-color: #ff7875;
    --error-hover: #ff4d4f;
    --error-bg: #fff2f0;
}